<% comments.each do |comment| %>
  <div class="comment">
    <% unless comment.id.nil? %>
      <div class="commentHeader">
        <div class="commentHeader_creater">
          <div class="commentHeader_createrInfo">
              <% if current_user && comment.user.id == current_user.id %>
                <p><%= link_to "#{comment.user.name}", user_path(comment.user.id) %></p>
              <% else %>
                <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
              <% end %>
          </div>
        </div>
        <div class="commentHeader_metadata"> 
          <time> <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %> </time>
          <% if comment.user == current_user || @pic.user == current_user %>
            <div class="commentHeader_button">
                <span class="commentHeader_editButton">
                    <%= link_to '削除', pic_comment_path(comment.pic_id, comment.id), method: :delete, remote: true %>
                </span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="commentBody lightgrey-background">
        <div class="commentBody_content">
          <p><%= comment.content %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

