<% provide(:title, @user.name) %>

<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  
  <!-- Card Regular -->
  <div class="card card-cascade">
  
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong><%= @user.name %></strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
      <!-- Text -->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
      </p>
  
      <!-- Facebook -->
      <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
      <!-- Twitter -->
      <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
      <!-- Google + -->
      <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
  
    </div>
    <%= link_to "ログアウト", sign_out_path %>
  
  </div>
  <!-- Card Regular -->
  <div class="container">
    <!-- .grid-indexでCards全体をネストする -->
    <div class="grid-index">
      <!-- ウインドウサイズごとにグリッドサイズを定義。スマホだと横に1つ、タブレットだと2つ、PCだと3つ並べる -->
      <div class="grid-sizer col-12 col-sm-6 col-lg-4"></div>
      
      <div class="card-group">
        <% @pics.each do |pic| %>
          <div class="grid-item col-12 col-sm-6 col-lg-4">
            <div class="card text-center">
              <div class="card-block">
                <div class="card-img-top">
                  <%= link_to image_tag(pic.image.url(:medium)), pic %>
                </div>
                <div class="card-title">
                  <h5><%= link_to pic.title, pic %></h5>
                </div>
                <div class="card-text">
                  <%= link_to pic.description, pic %>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-md-6">
                      <p><%= link_to pic.user.name, user_path(pic.user) %>さん</br>のベストメン</p>
                    </div>
                    <div class="col-md-6">
                      <div class="btn-group pull-right">
                        <% if user_signed_in? %>
                          <div class="btn btn-info"><%= link_to "編集", edit_pic_path(pic) %></div>
                          <div class="btn btn-danger"><%= link_to "削除", pic_path(pic), method: :delete, data: {confirm: "一度削除した投稿は復元できません。よろしいですか？"} %></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>