<div class="row">
    <% @pics.each do |pic| %>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="ramen-box">
          <div class="ramen-pic-index">
            <%= link_to image_tag(pic.image.url(:medium), size: '300x300'), pic %>
          </div>
          <div class="ramen-info-index">
            <div class="ramen-like">
              <%= render partial: 'pics/like', locals: { pic: pic} %>
            </div>
            <%= link_to pic.title, pic, {class: "ramen-title-index"} %></br>
            <div class="ramen-address-index">
              <% pic.address.slice!(0..2) %>
              <i class="fas fa-map-marker-alt", style="padding: 0 3px"></i><%= truncate(pic.address, length: 13) %>
            </div>
          </div>
          <div class="ramen-desc-index">
            <p><%= truncate(pic.description, length: 100) %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
<div class="pagination">
  <%= paginate @pics %>
</div>