<h2>カテゴリーで絞る</h2>
<div class="ramen-sort-categories text-center">
  <div class="ramen-sort-category"><%= link_to "全て",     pics_path %></div>
  <div class="ramen-sort-category"><%= link_to "醤油",     pics_path(tag_name: "醤油") %></div>
  <div class="ramen-sort-category"><%= link_to "塩",       pics_path(tag_name: "塩") %></div>
  <div class="ramen-sort-category"><%= link_to "味噌",     pics_path(tag_name: "味噌") %></div>
  <div class="ramen-sort-category"><%= link_to "豚骨",     pics_path(tag_name: "豚骨") %></div>
  <div class="ramen-sort-category"><%= link_to "担々麺",   pics_path(tag_name: "担々麺") %></div>
  <br class="d-inline d-sm-none" />
  <div class="ramen-sort-category"><%= link_to "家系",     pics_path(tag_name: "家系") %></div>
  <div class="ramen-sort-category"><%= link_to "魚介系",   pics_path(tag_name: "魚介系") %></div>
  <div class="ramen-sort-category"><%= link_to "激辛系",   pics_path(tag_name: "激辛系") %></div>
  <div class="ramen-sort-category"><%= link_to "その他",   pics_path(tag_name: "その他") %></div>
</div>

<h2>キーワードで絞る</h2>
<%= search_form_for @search do |f| %>
  <div class="form-label-group">
    <%= f.label :title_cont, "・店名" %>
    <%= f.search_field :title_cont, class: 'form-control', placeholder: "ex.)吉村家,中本,大勝軒 etc.. " %>
  </div>
  <div class="form-label-group">
    <%= f.label :address_cont, "・エリア" %>
    <%= f.search_field :address_cont, class: 'form-control', placeholder: "ex.)東京都,福岡市,浪速区 etc.. " %>
  </div>
  <div class="actions">
    <%= f.submit "検索", class: "btn btn-primary" %>
  </div>
<% end %>