カテゴリーで絞る
<%= link_to "醤油",     pics_path(tag_name: "醤油") %>
<%= link_to "塩",       pics_path(tag_name: "塩") %>
<%= link_to "味噌",     pics_path(tag_name: "味噌") %>
<%= link_to "豚骨",     pics_path(tag_name: "豚骨") %>
<%= link_to "担々麺",   pics_path(tag_name: "担々麺") %>
<%= link_to "家系",     pics_path(tag_name: "家系") %>
<%= link_to "魚介系",   pics_path(tag_name: "魚介系") %>
<%= link_to "激辛系",   pics_path(tag_name: "激辛系") %>
<%= link_to "その他",   pics_path(tag_name: "その他") %>

<%= search_form_for @search do |f| %>
  <%= f.label :title_cont, "店名で検索" %>
  <%= f.search_field :title_cont %>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>