<% provide(:title, @pic.title) %>

<div class="container text-center">
  <div class="ramen-pic ">
    <%= image_tag(@pic.image.url(:medium))%>
  </div>
  <div class="ramen-title-show">
    <h1><%= @pic.title %></h1>
  </div>
  <div class="ramen-info-show grey-background">
    認定者:<%= link_to @pic.user.name, user_path(@pic.user.id) %></br>
    ジャンル:<%= link_to @pic.tag_list, pics_path(tag_name: @pic.tag_list) %></br>
    所在地:<%= @pic.address %></br>
    いいね:<%= render partial: 'pics/like', locals: { pic: @pic} %>
  </div>
  <% if @pic.user == current_user %>
  <div>
    <br>
    <div class="btn btn-info"><%= link_to "編集", edit_pic_path %></div>
    <div class="btn btn-danger"><%= link_to "削除", pic_path, method: :delete, data: {confirm: "一度削除した投稿は復元できません。よろしいですか？"} %></div>
  </div>
  <% end %>
  
  <div id='sosyal'>
   <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@pic.title}☆BESTMEN -1番だけをシェアしよう-☆", class: 'twitter share-btn', title: 'Twitter', target: '_blank' do %>
     <i class="fab fa-twitter"></i>
   <% end %>
   <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@pic.title}☆BESTMEN -1番だけをシェアしよう-☆", class: 'facebook share-btn', title: 'Facebook', target: '_blank' do %>
     <i class="fab fa-facebook"></i>
   <% end %>
   <%= link_to "http://line.me/R/msg/text/?#{request.url}&text=#{@pic.title}☆BESTMEN -1番だけをシェアしよう-☆", class: 'line share-btn', title: 'LINE', target: '_blank' do %>
     <i class="fab fa-line"></i>
   <% end %>
  </div>
  
  <div class="container" style="padding-top: 30px">
    <!-- 以下タブの表示設定 -->
    <ul id="myTabs" class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#home"  aria-controls="home" role="tab" data-toggle="tab" class="nav-link active">認定理由</a>
      </li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="nav-link">地図</a></li>
      <li role="presentation"><a href="#message" aria-controls="message" role="tab" data-toggle="tab" class="nav-link">コメント</a></li>
    </ul>
    <!-- Tab panes(以下、タブを押したときに表示する中身) -->
    <div class="tab-content p-2 ">
      <div role="tabpanel" class="tab-pane active fade show ramen-desc-show lightgrey-background" id="home">
        <p><%= @pic.description %></p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">
        <div id="map" style='height: 300px;'></div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="message">
        <div id="comments_area" class="commentList"><!-- #① -->
          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/index', locals: { comments: @comments, pic: @pic } %>
        </div>  
        <% if user_signed_in? %>
          <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
          <div class="commentForm">
            <%= render partial: 'comments/form', locals: { comment: @comment, pic: @picCommen } %>
          </div>
        <% else %>
          <%= link_to "コメントするにはログインが必要です", new_user_session_path, class: "nav-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var map;
  var myLatLng;
  var marker;
  function initMap() {
    myLatLng = {lat: <%= @pic.latitude %>, lng: <%= @pic.longitude %>};
    
    map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 15
    });
    
    marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_API_KEY"]%>&callback=initMap"
async defer></script>