<%= link_to image_tag(@pic.image.url(:medium)), @pic %>
<h1><%= @pic.title %></h1>
<p><%= @pic.description %></p>
<%= link_to "編集", edit_pic_path %>
<%= link_to "削除", pic_path, method: :delete, data: {confirm: "一度削除した投稿は復元できません。よろしいですか？"} %>