<% provide(:title, "パスワードの再設定") %>

<div class="container", style='margin-top: 60px;'>
  <div class="page-title">
    <h1>パスワードの再設定</h1>
  </div>
  <h7>*ご登録済みのメールアドレスにパスワードの再設定方法を送信します</h7>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "送信する" %>
  </div>
<% end %>
</div>