<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #cc0000;">
  <div class="navbar-brand">
    <%= link_to image_tag("logo.png", alt: "Bestmen logo", width: '150x'),
        root_path  %>
  </div>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="bs-navi">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item span">
      <%= link_to pics_path, class: "nav-link" do %>
        <div class="select">名店一覧</div>
      <% end %>
    </li>
    <li class="nav-item span">
      <%= link_to maps_path, class: "nav-link" do %>
        <div class="select">マップから探す</div>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to new_pic_path, class: "nav-link" do %>
          <div class="select">認定する</div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path(current_user), class: "nav-link" do%>
          <div class="select"><%=current_user.name%></div>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <div class="select">ログイン</div>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>
</nav>