<% provide(:title, "ユーザー情報の編集") %>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1 class="card-title text-center page-title">ユーザー情報の編集</h1>
          <div class="form-signin">
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              
              <div class="form-label-group">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
              </div>
            	
            	<%= f.label :image %>
              <%= f.file_field :image, label: '画像', as: :file, onchange: "previewFile()", input_html: { class: 'form-controll'} %>
            	<img src="" id="preview" height="200" > <!-- プレビューの表示枠を用意 -->
              
              <div class="form-label-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            
              <div class="form-label-group">
                <%= f.label :password, '新しいパスワード' %> <i>(<em><%= @minimum_password_length %>文字以上</em>・変更する場合は入力)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </div>
            
              <div class="form-label-group">
                <%= f.label :password_confirmation, '新しいパスワードを再度入力' %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>
              </br>
            
              <div class="form-label-group">
                <%= f.label :current_password, '更新の為、今現在のパスワードを入力して下さい' %> 
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
              </div>
            
              <div class="actions">
                <%= f.submit "更新", class: "btn btn-primary jelly" %>
              </div>
            <% end %>
          </div>
          <br></br>
          <h1 class="card-title text-center page-title">アカウントの削除</h1>
          <h6 class="card-subtitle text-center mb-2 text-muted">アカウントを削除します。<br></br>一度削除されたアカウントは復旧できません。</h6>
          <div class="actions" style="margin-top: 20px">
            <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger jelly" %>
          </div>
          <br></br>
          <div class="text-center">
            <%= link_to "ユーザーページに戻る", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function previewFile() {
          var preview = document.querySelector('#preview');//どこでプレビューするか指定。'img[name="preview"]'などにすればimg複数あっても指定できます。
          var file    = document.querySelector('input[type=file]').files[0];//'input[type=file]'で投稿されたファイル要素の0番目を参照します。input[type=file]にmutipleがなくてもこのコードになります。
          var reader  = new FileReader();
        
          reader.addEventListener("load", function () {
            preview.src = reader.result;//めちゃめちゃ長い文字列が引き渡されます。ユーザーのファイルパスに紐付かない画像情報だと思います。
          }, false);
        
          if (file) {
            reader.readAsDataURL(file);//ここでreaderのメソッドに引数としてfileを入れます。ここで、readerのaddEventListenerが発火します。
          }
        }
</script>